body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align:center;
}

.main-ctn{
    margin:20px auto;
     width: 800px; 
}

.editBox{
    height: 500px;
    width : 800px;
    border: 1px solid grey;
}


