body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align:center;
}

.main-ctn{
    margin:20px auto;
    width: 500px;
}

.editBox{
    height: 300px;
    width : 500px;
    border: 1px solid grey;
    margin-top: 20px;
}


